nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}
nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
    
    
}
nav a:hover{
    background-color: rgb(3, 3, 155);

}
nav ul {
    background-color: rgb(1, 37, 68);
    list-style: none;
    display: flex;
    flex-direction: column;
    @media all and (min-width: 545px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
}
nav {
    margin-top: -16px;
}